body {
    background-color: aliceblue;
}
.form-control {
    width: 400px;

}
#tuotos {
    max-width: 60%;
    position: absolute;
    margin-left: 40%;
    top: -2%;
    margin-top: 40px;
    overflow: hidden;
}
p {
    font-size: larger;
}
#error {
    color: red;
}