/*body {
    background-color: #e5ebf0;
    text-align: center;
    line-height: 2;
    font-family: 'Segoe UI';
}*/
input, select {
    background-color: #f3f8ff;
    border-radius: 5px;
}
input:hover, select:hover {
    background-color: #e5ebf0;
}
.dataa {
    background-color: #212529;
}
a {
    text-decoration: none !important;
}