body {
    background-color: #e5ebf0;
    text-align: center;
    line-height: 2;
}
body {
    font-family: 'Segoe UI';
}
input, select {
    background-color: #f3f8ff;
    border-radius: 5px;
}
input:hover, select:hover {
    background-color: #e5ebf0;
}
.data {
    background-color: #f3f8ff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    border: 2px solid black;
}