h1,
p {
    text-align: center;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonit {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-color: white;
    border-radius: 3px;
}

button:hover {
    background-color: whitesmoke;
}