body {
    background-color: #fab1a0;
    font-family: 'Mukta', sans-serif;
}
h1 {    
    text-align: center;
    color: #e17055;
}
h2 {
    color: #d63031;
}
ul {
    color: #d63031;
}
ol {
    color: #d63031;
}
img {
    float: right;
    height: 700px;
    width: 500px;
}
p {
    color: #d63031;
}
i {
    color: #d63031;
}