html {
    font-family: 'Roboto', sans-serif;
}
#root {
    z-index: 1;
    position: relative;
    top: 30vh;
    margin: auto;
    padding: 10px;
    font-size: 100px;
    background-color: black;
    width: fit-content;
    border-radius: 10px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rainboww;
}
#rooot {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    animation-name: rainbow;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}
@keyframes rainbow {
    0% {
        background-color: red;
    }
    15% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    45% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    75% {
        background-color: indigo;
    }
    90% {
        background-color: violet;
    }
    100% {
        background-color: red;
    }
}

@keyframes rainboww {
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: green;
    }
    60% {
        color: blue;
    }
    75% {
        color: indigo;
    }
    90% {
        color: violet;
    }
    100% {
        color: red;
    }
}