table, th, td, tr {
    text-align: center;
}
table {
    border:1px solid #546de5;
    background-color: #f8a5c2;
    border-spacing: 20px;
}
thead {
    background-color: #f5cd79;
    color: #cb4569;
}
.teksti {
    background-color: #63cdda;
}
.headi {
    border:1px solid #546de5;
    padding: 20px;
}
img {
    background-color: white;
}