body {
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerlinks {
    height: 45px;
    line-height: 45px;
    background-color: #262a2b;
    color: #ffffff;
    text-align: center;
}

.links {
    position: relative;
    left: -400px;
    font-size: 14px;
}
.links i {
    padding-left: 20px;
}

.logolinks {
    width: 50%;
    margin: 0 auto;
}

.fbig, .form-i {
    position: relative;
    left: 30px;
    top: -60px;
}

.form-i {
    display: inline;
    position: relative;
    left: 100px;
}
.form-u {
    display: inline;

}
.form-i input, .form-u input {
    padding: 10px;
    padding-right: 30px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

main {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.title {
    font-size: 35px;
}
.date {
    color: #9d918b;
}
.desc {
    font-size: 20px;
}
.subdesc {
    font-size: 15px;
    color: #494e67;
}
.share {
    font-weight: bold;
    font-size: 20px;
    display: inline;
}
hr {
    border: 1px solid #dbd4d0;
}
.side {
    display: inline;
}
.image {
    position: absolute;
    right: 400px;
    bottom: 200px;
}
.bold {
    font-weight: bold;
}
form textarea {
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}
label {
    color: #777777;
    font-size: 15px;
}
.btn {
    background: #7b8cb4;
    padding: 10px;
    border: 1px solid #7b8cb4;
    color: white;
}
.prev {
    background-color: #ebebeb;
    width: fit-content;
    padding: 10px;
    margin-bottom: 200px;
    border-radius: 5px;
}
.prev p {
    color: #7a7a7a;
}
footer {
    position: relative;
    bottom: 1;
    background-color: #000;
    color: white;
    padding-bottom: 150px;
}
.ftr {
    width: 50%;
    margin: 0 auto;
}
.ftrimg {
    padding-top: 50px;
    width: 30%;
}
.imgtxt {
    color: #494e51;
    padding-bottom: 200px;
}
.contact1 {
    background-color: #000;
    position: absolute;
    right: 800px;
    bottom: 350px;
}
.contact2 {
    background-color: #000;
    position: absolute;
    right: 400px;
    bottom: 390px;
}
.copyright {
    text-align: center;
}