.navbar.center .navbar-inner {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #ffd46e;
}
.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}
body {
    background-color: #f5f2eb !important;
}
.wlc {
    text-align: center;
    padding-top: 7%;

}
.wlcc {
    font-size: 50px;
}
.wlccc {
    padding-top: 5%;

}
.wlcccc {
    padding-top: 3%;
    width: fit-content;
}
.wlcbgrd {
    content: "";
    display: block;
    position: absolute;
    top: 150px;
    height: 20em;
    width: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.oppimaan {
    position: relative;
    left: 10%;
    margin-top: 7%;
    border-radius: 8px;
    border: 3px solid black;
    background-color: #ffffff;
    width: 30%;
    padding-bottom: 7%;
}
.oar {
    float: right;
    padding-right: 7%;
}
.oal {
    float: left;
    padding-left: 7%;
}
.töihin {
    position: absolute;
    right: 10%;
    margin-top: 7%;
    border-radius: 8px;
    border: 3px solid black;
    background-color: #ffffff;
    width: 35%;
    padding-bottom: 5%;
}
.ftr {
    padding-top: 30%;
}
.ftrc {
    position: relative;
    left: -10%;
}