p {
    display: inline !important;
}
.varattu {
    background-color: red !important;
}
.vapaa {
    background-color: #10ac84 !important;
}
h1 {
    background-color: #e9ecef !important;
    padding: 50px !important;
    text-align: center !important;
    color: #341f97 !important;
}
