* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.line {
    display: inline-flex;
}
.one {
    width: 25%;
    height: 50%;
    background-color: #3498db;
}
.two {
    width: 50%;
    height: 50%;
    background-color: #1abc9c;
}
.three {
    width: 25%;
    height: 50%;
    background-color: #7f8c8d;
}
.four {
    width: 25%;
    height: 50%;
    background-color: #f39c12;
}
.five {
    width: 50%;
    height: 50%;
    background-color: #d35400;
}
.six {
    width: 25%;
    height: 50%;
    background-color: #c0392b;
}