body {
    background-color: aliceblue;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}
.navigointi {
    text-align: left;
    background-color: #fffafa;
    border: 1px solid black;
}
.teksti {
    font-size: 120%;
}
.kuvat {
    max-width: 100%;
}
img {
    max-width: 45%;
}
.alaviite {
    float: left;
}