table {
    border:1px solid black;
    margin: 10px;
}
.kuukaus {
    background-color: #ffb28b;
}
.määrä {
    background-color: #e2d5ff;
}
.theader {
    text-align: center !important;
}
.ttable {
    width: fit-content;
    border:1px solid #9494ff;
}
h3 {
    text-align: center;
}